.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100vh;
  background-color: rgb(205, 47, 39);
  border-right: 2px solid rgba(255, 105, 97, 0.85);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0 15px 15px 0;
  z-index: 1;
  overflow: auto;
  transform: translateX(-100%);
  transition: transform 0.5s ease, background-color 0.5s ease,
    box-shadow 0.5s ease;
  box-shadow: 0 0 15px rgb(255, 105, 97), 0 0 30px rgba(255, 85, 77, 0.781),
    0 0 45px rgb(255, 135, 127);
}

.navigation.show {
  transform: translateX(0);
}

.navigation a {
  display: block;
  color: white;
  padding: 10px 0;
  text-decoration: none;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: rgba(255, 135, 127, 0.9);
}

.blue {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100vh;
  background-color: rgb(61, 127, 136);
  border-right: 2px solid rgb(206, 255, 255);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0 15px 15px 0;
  z-index: 1;
  overflow: auto;
  transform: translateX(-100%);
  transition: transform 0.5s ease, background-color 0.5s ease,
    box-shadow 0.5s ease;
  box-shadow: 0 0 15px rgb(176, 252, 255), 0 0 30px rgba(123, 251, 255, 0.781),
    0 0 45px rgb(206, 255, 255);
}

.blue .show {
  transform: translateX(0);
}

.blue a {
  display: block;
  color: rgb(176, 252, 255);
  padding: 10px 0;
  text-decoration: none;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.blue a:hover {
  color: rgba(123, 251, 255, 0.781);
}

.purple {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100vh;
  background-color: rgb(100, 61, 136);
  border-top: 2px solid rgb(217, 176, 255);
  border-right: 2px solid rgb(217, 176, 255);
  border-bottom: 2px solid rgb(217, 176, 255);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 0 15px 15px 0;
  z-index: 1;
  overflow: auto;
  transition: transform 0.5s ease, background-color 0.5s ease,
    box-shadow 0.5s ease;
  box-shadow: 0 0 15px rgb(217, 176, 255), 0 0 30px rgba(191, 123, 255, 0.781),
    0 0 45px rgb(231, 206, 255);
}

.purple a {
  display: block;
  color: rgb(217, 176, 255);
  padding: 10px 0;
  text-decoration: none;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.purple a:hover {
  color: rgb(231, 206, 255);
}
